:root {
  --primary-color: rgb(0, 139, 139);
  --accent-color: rgb(140, 44, 10);
  --button-border: 1px solid rgba(255, 255, 255, 0.3);
  --button-shadow: 3px 3px 14px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  color: white;
}

.logo {
  max-width: 85px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 70px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--accent-color);
}

hr {
  margin: 0;
  color: var(--accent-color);
}

.hero {
  padding: 100px 20px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  opacity: 0.8;
  border: none;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair", serif;
  text-align: center;
  padding: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

h1 {
  font-size: 76px;
  font-weight: 700;
  font-family: "Playfair", serif;
}

h3 {
  font-size: 22px;
  opacity: 0.6;
}

h4 {
  font-size: 48px;
  font-family: "Playfair", serif;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons a {
  margin: 20px;
}

.btn-branding {
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 17px;
  padding: 20px 12px;
  border-radius: 5px;
  border: var(--button-border);
  box-shadow: var(--button-shadow);
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  box-shadow: none;
  background-color: var(--accent-color);
  color: white;
  transform: scale(1.05, 1.05);
}

.btn-branding-outline {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--accent-color);
  text-decoration: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 17px;
  padding: 12px 12px;
  transition: all 200ms ease-in-out;
}
.btn-branding-outline:hover {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--accent-color);
}

.project-description {
  padding: 100px 30px;
}

p,
.skills {
  font-size: 16px;
  opacity: 0.8;
  line-height: 28px;
  text-align: justify;
}

.content-container {
  padding: 80px 20px 20px 80px;
}

.content {
  margin: 80px 30px 20px;
}

.content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
}

.content h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: start;
  padding: 12px 0;
}

.separate-line {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  margin-top: -30px;
  margin-bottom: 80px;
}

.content h3 {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  opacity: 1;
  font-weight: 600;
}

.content p,
.skills {
  font-size: 14px;
  text-align: justify;
}

.profile-img {
  max-width: 90%;
  margin: 120px 30px 30px 100px;
}

p a {
  color: var(--accent-color);
  font-weight: 600;
}

footer {
  margin: 100px 0 50px;
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

footer .contact-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 40px 80px 30px 80px;
  margin-bottom: 70px;
  border-radius: 10px;
}

footer .contact-box p {
  font-size: 18px;
  margin: 0;
}

footer a {
  color: var(--accent-color);
  font-weight: 500;
}
footer .email-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

footer .email-link:hover {
  color: var(--accent-color);
}

footer .social-links a {
  margin: 0 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 13px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--accent-color);
}

footer p {
  font-size: 14px;
  text-align: center;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 14px;
  }

  h1 {
    font-size: 64px;
    line-height: 1.5;
  }

  .hero h2 {
    font-size: 36px;
  }

  h2 {
    font-size: 40px;
  }

  .content-container,
  .content-container h2 {
    text-align: center;
    padding: 16px;
  }
  .content {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .content p,
  .skills {
    text-align: justify;
  }
  .profile-img {
    margin: 25px 0 0 0;
  }

  .content h1 {
    font-size: 60px;
  }

  footer .contact-box {
    padding: 20px;
    margin-bottom: 70px;
  }

  h4 {
    font-size: 32px;
  }

  footer .contact-box p {
    font-size: 16px;
  }
}
